<div class="post">
	<h2><%= @post.title %></h2>
	<div class="author">
		Written by <%= @post.user.name %>
	</div>
	<% if logged_in? %>
		<div class="actions">
			<%= link_to 'Edit', edit_post_path(@post) %> |
			<%= link_to 'Delete', @post, :method => :delete %>
		</div>
	<% end %>
	<div class="content">
		<%= coderay @post.content %>
	</div>
</div>
